<html Doctype!>
  <head>
    <div class="page-header">
    <h1>Apply Now</h1>
    </div>
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  </head>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>          
        </div>

        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>



      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="input-field col s6">
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Phone_Number</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="class name" type="class name" class="validate">
          <label for="class name">Class Name</label>
        </div>
      </div>

      <div class="row">
        <p>Gender</p>
        <input name='Gender' type="radio"/>
        <span>Female</span>
        <input name='Gender' type='radio'/>
        <span>Male</span>

        </div>

        <div class="row">
            <div class="input-field col s12">
              <p>Have you participated in a Moringa training before?</p>

            <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
            <input name='ans' type="radio"/>
            <span>Yes</span>
            <input name='ans' type="radio"/>
            <span>No</span>
            <input name='ans' type="radio"/>
            <span>Maybe</span>
            </div>
          </div>
        </div>
      </div>



          <div class="row">
            <div class="input-field col s12">
              <p>Are you intrested in joining Moringa core after Moringa prep?</p>
              <input name='ans' type="radio"/>
            <span>Yes</span>
            <input name='ans' type="radio"/>
            <span>No</span>
            <input name='ans' type="radio"/>
            <span>Maybe</span>
            </div>
          </div>
       
       
          <div class="row">
            <p>Where did you hear about Moringa School?</p>
            <input name='ans' type="radio"/>
            <span>Twitter</span>
            <input name='Gender' type='radio'/>
            <span>Facebook</span>
            <input name='Gender' type='radio'/>
            <span>Instagram</span>
            <input name='Gender' type='radio'/>
            <span>Alumni of Moringa School</span>
            <input name='Gender' type='radio'/>
            <span>Nairobi Tech Week</span>
            <input name='Gender' type='radio'/>
            <span>Event at Moringa school</span>
            <input name='Gender' type='radio'/>
            <span>Moringa school Website</span>
            <input name='Gender' type='radio'/>
            <span>Referral</span>
            <input name='Gender' type='radio'/>
            <span>Google search</span>
            <input name='Gender' type='radio'/>
            <span>Other</span>
    
            </div>

            <div class="row">
              <p>Which avenue was most influential in joining Moringa school?</p>
              <input name='ans' type="radio"/>
              <span>Twitter</span>
              <input name='Gender' type='radio'/>
              <span>Facebook</span>
              <input name='Gender' type='radio'/>
              <span>Instagram</span>
              <input name='Gender' type='radio'/>
              <span>Alumni of Moringa School</span>
              <input name='Gender' type='radio'/>
              <span>Nairobi Tech Week</span>
              <input name='Gender' type='radio'/>
              <span>Event at Moringa school</span>
              <input name='Gender' type='radio'/>
              <span>Moringa school Website</span>
              <input name='Gender' type='radio'/>
              <span>Referral</span>
              <input name='Gender' type='radio'/>
              <span>Google search</span>
              <input name='Gender' type='radio'/>
              <span>Other</span>
      
              </div>



              <div class="row">
                <div class="input-field col s12">
                  <p>Do you understand that you need to pay 40,500ksh before the full-time Moringa prep starts?</p>
                  <input name='ans' type="radio"/>
                <span>Yes</span>
                <input name='ans' type="radio"/>
                <span>No</span>
      
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <p>What is your highest level of education completed?</p>
                  <input name='ans' type="radio"/>
                <span>Highschool</span>
                <input name='ans' type="radio"/>
                <span>Diploma</span>
                <input name='ans' type="radio"/>
                <span>Bachelor Degree</span>
                <input name='ans' type="radio"/>
                <span>Masters Degree</span>
                <input name='ans' type="radio"/>
                <span>Doctrate</span>
                <input name='ans' type="radio"/>
                <span>Other</span>
                </div>
              </div> 

              <div class="row">
                <div class="input-field col s12">
                  <p>Please share a link with us to an online article that best reasonates with your personal life philosophy?</p>
                </div>
              </div>  

              <div class="row">
                  <div class="input-field col s12">
                    <p>Besides learning to code, how do you want to improve yourself in the next year?</p>
                  </div>
                </div>  
 
    </form>
  </div>
         


